header {
    display: flex;
    position: fixed;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid black;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

body{
  display: block;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2  {
  margin-top: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}


.logo   {
  display: flex;
  padding-left: 60px;
  align-items: center;
  color: MediumAquamarine;
}


img   {
  margin-right: 12px;
  margin-left: 20px;
}

.company  {
  padding-left: 10px;
}


span  {
    display: inline-block;
    padding: 10px 10px;


}


a  {
    color: black;

}

div {

}

.column   {

  display: flex;
  padding-top: 20px;
  width: auto;
  flex-direction: row;
  justify-content:space-between;

}

.large {
  width: 630px;

}

.medium   {
  padding-top: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small  {
  padding-top: 100px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mainstory  {
    display: flex;
    background-image: url("./images/img-story-main.png");
    width: 630px;
    height: 300px;
    margin-top: 100px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.imgstory   {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 0;

}
.storyheader  {
    width: 300px;
}
.story23  {
  width: 630px;
  display: flex;
  justify-content:space-between;

}
.story2   {
  background-image: url("./images/img-story-2.png");
  height: 300px;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;


}
.story3 {
  background-image: url("./images/img-story-3.png");
  height: 300px;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;

}

.cat   {
  background-image: url("./images/img-story-1.png");
  height: 300px;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.cookies  {
  background-image: url("./images/img-news-bite.png");
  height: 240px;
  width: 240px;
}
.newbites  {
  width: 240px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-self: center;



}
.bites {
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  padding: 11px 20px;
  font-family: verdana;
  font-size: 12px;
  color: dimGray;
}

h3  {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: bold;
}

footer    {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link2   {

}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
